@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* img transfrom start */
.header__frams {
    position: absolute;
    top: 78vh;
    right: 55rem;
    transition: all 400ms ease;
}

.header__fram {
    width: 24rem;
    border: 0.4rem solid #002431;
    /*color-bg-3*/
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: rotate(-30deg);
    transform-origin: bottom left;
    transition: all 600ms ease;
}

.header__fram:nth-child(2) {
    transform: rotate(10deg);
    top: -2rem;
    left: -2rem;
}

.header__frams:hover .header__fram {
    transform: rotate(0);
}

.header__frams:hover .header__fram:nth-child(2) {
    top: 0;
    left: 28rem;
}

/* service card */
.servic-body {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 200px;
    background-color: #002431;
}

.service-grid {
    display: grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}

.service-grid-item {
    
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgb(0, 0, 0, 0.1);
}

.service-grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(4, 4, 4, 0.5);
}



.service-card-content {
    padding: 3rem;
}

.service-card-header {
    font-size: 3rem;
    font-weight: 500;
    color: #0b0b0b;

}

.service-card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}

.service-card-btn {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background-color: rgb(235, 0, 139);
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;

}


.service-card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
}

.service-card-btn:hover,
.service-card-btn:active {
    background-color: rgb(122, 4, 73);
    color: #fff;

}

@media only screen and (max-width: 60em) {
    .servic-body {
        padding: 3rem;
    }

    .service-grid {
        grid-gap: 3rem;
    }
}

.btn-12 {
    position: relative;
    right: -0%;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    background-color: rgba(166, 196, 217, 0);
}

.btn-12 span {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    letter-spacing: 0.1rem;
    background: rgb(235, 0, 139);
    background: linear-gradient(0deg, rgba(235, 0, 137, 0.672) 0%, rgba(235, 0, 137, 0.975) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-12 span:nth-child(1) {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.btn-12 span a {
    text-decoration: none;
    color: #fff;
}