@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

.registar-main-body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, rgba(6, 28, 154, 0.123), rgba(202, 201, 208, 0.009)), url(../../../asset/banar-asset/loginbg.jpg);
    background-size: cover;
}

.registar-main-body #registar-home-icon a {

    font-size: 24px;
    margin-top: 35px;
    margin-left: 25px;
    color: rgb(235, 0, 139);
}

.registar-main-body #login-home-icon a:hover {
    color: #fff;
}

.registar-body {
    margin: 0;
    padding: 0;
    background-size: cover;
    width: 100vw;
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registar-body>div {
    background-color: rgba(245, 222, 179, 0.203);
    height: 650px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(19, 2, 2);
}

.registar-body h1 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;

}

.registar-body #account {
    font-size: 20px;
    font-weight: 500;
}



.registar-body .input input {
    width: 90%;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    outline-color: rgb(235, 0, 139);
    border: 1px solid wheat;
    background-color: rgba(245, 222, 179, 0.287);
}

.registar-body .input input:hover {
    background-color: rgba(245, 222, 179, 0.105);
}

.registar-body button {
    width: 150px;
    height: 50px;
    padding: 0 15px;
    font-size: 20px;
    margin: 5px;
    border-radius: 25px;
    outline-color: rgb(235, 0, 139);
    border: 1px solid wheat;
    background-color: rgba(245, 222, 179, 0.287);
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.registar-body button:hover {
    background-color: rgba(245, 222, 179, 0.02);
    color: #fff;
}

.registar-body #remember-me {
    display: flex;
    align-content: baseline;
    justify-content: space-around;
    font-size: 15px;
    letter-spacing: 0.1rem;

}

.registar-body #remember-me input {
    margin-right: 5px;

}

.registar-body #remember-me p:hover {
    color: rgba(0, 0, 255, 0.672);
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgba(0, 0, 255, 0.672);

}

.registar-body #or-sing {
    font-size: 15px;
    margin-top: 25px;
    color: wheat;
}

.registar-body #member {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
    margin-right: 25px;
    font-size: 20px;
}

.registar-body #member a {
    color: wheat;
}

.registar-body #member a:hover {
    color: white;
}