.reviw-container {
    background-color: #021E2B;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}

#reviw-sub-container-main {
    padding: 50px;
    border-radius: 25px;
    background-color: #002431;
    display: grid;
    grid-template-columns: 3fr 8fr;
    height: 90vh;
    width: 90vw;
    border: 2px solid gray;
    
}

#reviw-items {
    margin-top: 50px;
}

#reviw-items ul li {
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
    
}

#reviw-items ul li a {
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
}

#reviw-items ul li a:hover {

    color: gray;
    text-decoration: double;
}